.flipped {
    transform: rotateY(180deg);
    transition: transform 0.6s;
}

#displayed-image {
    transition: transform 0.6s;
}

.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.web-title {
    font-size: 1.25rem !important;
}

.logo .line{
    height: 30px;
    width: 2px;
    background-color: white;
}

.img-slider {
    padding: 50px 0 60px;
}

.my-carousel-caption{
    background-color: rgba(23, 40, 59);
}

.text-shadow{
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-primary:hover {
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.mb-sm-5{
    margin-bottom: 30px;
}

.share-buttons{
    list-style: none;
    padding-left: 0;
}

.share-list{
    list-style: none;
    padding: 0 4px;
}

@media (min-width: 576px) {
    .recent-posts .post-box {
        transition: 0.3s;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .recent-posts .post-box .post-img {
        overflow: hidden;
        position: relative;
    }

    .recent-posts .post-box .post-img img {
        transition: 0.5s;   
    }

    .recent-posts .post-box .meta {
        margin-top: 15px;
    }

    .recent-posts .post-box .meta .post-date {
        font-size: 15px;
        font-weight: 400;
        color: var(--accent-color);
    }

    .recent-posts .post-box .meta .post-author {
        font-size: 15px;
        font-weight: 400;
        color: color-mix(in srgb, var(--default-color), transparent 40%);
    }

    .recent-posts .post-box .post-title {
        color: var(--heading-color);
        font-size: 18px;
        font-weight: 700;
        margin: 15px 0 0 0;
        position: relative;
        transition: 0.3s;
    }

    .recent-posts .post-box p {
        margin: 15px 0 0 0;
        color: color-mix(in srgb, var(--default-color), transparent 40%);
    }

    .recent-posts .post-box .readmore {
        display: flex;
        align-items: center;
        font-weight: 600;
        line-height: 1;
        transition: 0.3s;
        margin-top: 15px;
    }

    .recent-posts .post-box .readmore i {
        line-height: 0;
        margin-left: 4px;
        font-size: 18px;
    }

    .recent-posts .post-box:hover .post-title {
        color: var(--accent-color);
    }

    .recent-posts .post-box:hover .post-img img {
        transform: scale(1.1);
    }

    .web-title {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

    .mb-sm-5 {
        margin-bottom: 0px !important;
    }
}


